<div class="music-video-container">

</div>

<h2>Listen to a MP3 with HTML5 Audio</h2>
  <section id="audio"> 
  </section>

<h2>Upload a song to generate music video</h2>
  <%= form_tag upload_path, :method => "post", :multipart => true do %>
      <%= file_field_tag "mp3file" %>
      <%= submit_tag "Upload" %>
  <% end %>

<h2>Download and Delete Existing MP3's</h2>
  <table>
  <% @songs.each do |song| %>
      <tr>
        <td><%= song.key %></td>
        <td><%= link_to "HTML5 Audio", download_url_for(song.key), :class => "html5" %></td>
        <td><%= link_to "Delete",  "songs/delete/?song=" + song.key, :confirm => 'Are you sure you want to delete ' + song.key + '?' %></td>
      </tr>
  <% end %>
  </table>